.system_block {
    padding-top: vw(90);
    padding-bottom: vw(120);
    @media all and (max-width: 1023px) {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    &__in {
        display: flex;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__l-side {
        flex: 0 0 vw(450);
        margin-right: vw(30);
        @media all and (max-width: 1023px) {
            flex: none;
            margin-right: 0;
            margin-bottom: 60px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            @media all and (max-width: 1023px) {
                gap: 10px;
                display: flex;
                flex-wrap: wrap;
            }
            li {
                &:not(:last-child) {
                    margin-bottom: vw(10);
                    @media all and (max-width: 1023px) {
                        margin-bottom: 0;
                    }
                }
                &.isActive {
                    a {
                        background: var(--012A4A, #012A4A);
                        color: #fff;
                    }
                }
                a {
                    text-decoration: none;
                    display: inline-block;
                    color: var(--212121, #212121);
                    font-size: vw(16);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 125%;
                    padding: vw(15) vw(30);
                    border-radius: vw(999);
                    background: var(--F5F6F8, #F5F6F8);
                    @media all and (max-width: 1023px) {
                        font-size: 14px;
                        padding: 11px 15px;
                        border-radius: 999px;
                    }
                    &:hover {
                        background: var(--012A4A, #012A4A);
                        color: #fff;
                    }
                }
            }
        }
    }
    &__r-side {
        width: 100%;
        color: var(--212121, #212121);
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        line-height: 155%;
        @media all and (max-width: 1023px) {
            font-size: 14px;
        }
        blockquote {
            color: var(--212121, #212121);
            font-size: vw(18);
            font-style: italic;
            line-height: 165%;
            padding-top: vw(30);
            padding-bottom: vw(30);
            border-top: 1px solid var(--212121, #212121);
            border-bottom: 1px solid var(--212121, #212121);
            margin-left: 0;
            margin-right: 0;
            @media all and (max-width: 1023px) {
                padding-top: 30px;
                padding-bottom: 30px;
                font-size: 14px;
            }
        }
    }
}