.prof_into {
    min-height: 100vh;
    &__img {
        font-size: 0;
        img {
            width: 100%;
        }
    }
    &__info {
        max-width: vw(570);
        width: 100%;
        margin-top: vw(-110);
        margin-bottom: vw(-60);
        position: relative;
        z-index: 3;
    }
    &__name {
        padding: vw(30);
        color: var(--FFFFFF, #FFF);
        font-size: vw(41);
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        background: var(--Blue-024E88, #024E88);
    }
    &__into {
        display: flex;
    }
    &__work {
        width: 100%;
        background: var(--Blue-02467A, #02467A);
        padding: vw(20) vw(30);
        color: var(--FFFFFF, #FFF);
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
    }
    &__socs {
        display: flex;
    }
    &__soc {
        flex: 0 0 vw(60);
        width: vw(60);
        height: vw(60);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        background: linear-gradient(0deg, rgba(33, 33, 33, 0.12) 0%, rgba(33, 33, 33, 0.12) 100%), var(--Blue-023E6D, #023E6D);
        img {
            width: vw(16);
            height: vw(16);
        }
    }
    &__link {
        color: var(--FFFFFF, #FFF);
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        text-decoration: none;
        display: inline-block;
        padding-left: vw(70);
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: vw(50);
            height: vw(50);
            margin-top: vw(-25);
            left: 0;
            top: 50%;
            border-radius: 50%;
            background-size: vw(20);
        }
        &--mail {
            &:before {
                background: rgba(255, 255, 255, 0.08) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M3.66667 3H17C17.9167 3 18.6667 3.75 18.6667 4.66667V14.6667C18.6667 15.5833 17.9167 16.3333 17 16.3333H3.66667C2.75 16.3333 2 15.5833 2 14.6667V4.66667C2 3.75 2.75 3 3.66667 3Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.6667 4.6665L10.3333 10.4998L2 4.6665' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% no-repeat;
            }
        }
        &--tel {
            &:before {
                background: rgba(255, 255, 255, 0.08) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M19.0832 14.0999V16.5999C19.0841 16.832 19.0366 17.0617 18.9436 17.2744C18.8506 17.487 18.7143 17.6779 18.5433 17.8348C18.3722 17.9917 18.1703 18.1112 17.9505 18.1855C17.7306 18.2599 17.4977 18.2875 17.2665 18.2666C14.7022 17.988 12.239 17.1117 10.0749 15.7083C8.06139 14.4288 6.35431 12.7217 5.07486 10.7083C3.66651 8.53426 2.79007 6.05908 2.51653 3.48325C2.4957 3.25281 2.52309 3.02055 2.59695 2.80127C2.6708 2.58199 2.78951 2.38049 2.9455 2.2096C3.1015 2.03871 3.29137 1.90218 3.50302 1.80869C3.71468 1.7152 3.94348 1.6668 4.17486 1.66658H6.67486C7.07928 1.6626 7.47136 1.80582 7.778 2.06953C8.08464 2.33324 8.28493 2.69946 8.34153 3.09992C8.44705 3.89997 8.64274 4.68552 8.92486 5.44158C9.03698 5.73985 9.06125 6.06401 8.99478 6.37565C8.92832 6.68729 8.77392 6.97334 8.54986 7.19992L7.49153 8.25825C8.67783 10.3445 10.4052 12.072 12.4915 13.2583L13.5499 12.1999C13.7764 11.9759 14.0625 11.8215 14.3741 11.755C14.6858 11.6885 15.0099 11.7128 15.3082 11.8249C16.0643 12.107 16.8498 12.3027 17.6499 12.4083C18.0547 12.4654 18.4244 12.6693 18.6886 12.9812C18.9529 13.2931 19.0933 13.6912 19.0832 14.0999Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% no-repeat;
            }
        }
        &--wechat {
            &:before {
                background: rgba(255, 255, 255, 0.08) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='22' viewBox='0 0 23 22' fill='none'%3E%3Cg clip-path='url(%23clip0_18_6)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.5002 14.1948C22.4335 14.4853 22.3862 14.782 22.2967 15.0653C21.9433 16.1838 21.2365 17.0466 20.3155 17.7481C20.179 17.8521 20.035 17.9461 19.8951 18.0456C19.884 18.0534 19.8774 18.0676 19.8554 18.0958C20.2643 18.9155 20.6773 19.7435 21.114 20.619C21.0033 20.5786 20.939 20.5583 20.8774 20.5319C19.8261 20.0819 18.7729 19.636 17.7257 19.1765C17.5127 19.0831 17.3151 19.0602 17.0873 19.1038C15.0297 19.497 13.0965 19.1523 11.3229 18.0427C10.1871 17.3321 9.34267 16.3584 8.95013 15.0468C8.58217 13.817 8.72768 12.6349 9.35695 11.5258C10.1876 10.0617 11.4878 9.17303 13.0571 8.67172C14.9796 8.05761 16.897 8.12177 18.7708 8.88207C20.0845 9.41515 21.1616 10.2516 21.8835 11.4981C22.1954 12.0367 22.3858 12.6174 22.4641 13.2351C22.472 13.2977 22.488 13.3593 22.5002 13.4214C22.5002 13.6792 22.5002 13.9369 22.5002 14.1948ZM14.5935 12.3859C14.5909 11.8256 14.1253 11.3615 13.5651 11.3609C13.0049 11.3603 12.5385 11.8235 12.5347 12.384C12.5309 12.952 13.006 13.4255 13.5739 13.4197C14.1342 13.4141 14.5961 12.9457 14.5935 12.3859ZM17.6992 11.3609C17.1398 11.3546 16.6684 11.8138 16.659 12.3742C16.6496 12.9336 17.1061 13.407 17.6671 13.4196C18.2345 13.4323 18.7146 12.9644 18.7179 12.3956C18.721 11.836 18.2594 11.3671 17.6992 11.3609Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.8647 6.92455C16.1714 6.92455 15.5336 6.88281 14.9028 6.93194C12.4935 7.11961 10.4057 8.01372 8.82775 9.89304C7.72695 11.2042 7.22967 12.7318 7.42375 14.4558C7.44514 14.6455 7.48672 14.833 7.5309 15.0916C6.97114 14.9529 6.44684 14.8528 5.94392 14.6875C5.64216 14.5883 5.39746 14.5992 5.11127 14.7303C4.35135 15.0782 3.5771 15.3947 2.80828 15.723C2.75108 15.7475 2.69181 15.7669 2.57598 15.8102C2.94734 15.0651 3.29508 14.3674 3.63413 13.687C3.2227 13.3367 2.80004 13.0162 2.4238 12.6484C1.41797 11.665 0.76753 10.4828 0.562534 9.08109C0.377454 7.81581 0.605771 6.61085 1.21338 5.4923C2.21544 3.6476 3.80014 2.50503 5.76238 1.8693C7.89636 1.17797 10.0352 1.21785 12.1365 2.0059C14.0178 2.71146 15.51 3.89442 16.4073 5.73501C16.5933 6.11647 16.7148 6.52937 16.8647 6.92455ZM7.03202 5.51909C7.03385 4.95922 6.5714 4.49162 6.01097 4.48668C5.45157 4.48173 4.98124 4.94201 4.97319 5.50233C4.965 6.0701 5.43662 6.54696 6.00493 6.54549C6.56527 6.5441 7.03018 6.07945 7.03202 5.51909ZM11.5056 6.54549C12.066 6.54318 12.5303 6.07786 12.5312 5.51759C12.5321 4.9575 12.0691 4.49071 11.5086 4.48668C10.9406 4.48256 10.4668 4.95741 10.4723 5.52531C10.4778 6.0857 10.9458 6.54783 11.5056 6.54549Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_18_6'%3E%3Crect width='22' height='22' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 50% no-repeat;
            }
        }
        &--download {
            &:before {
                background: rgba(255, 255, 255, 0.08) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M16.9163 17.5V15.8333C16.9163 14.9493 16.5652 14.1014 15.94 13.4763C15.3149 12.8512 14.4671 12.5 13.583 12.5H6.91634C6.03229 12.5 5.18444 12.8512 4.55932 13.4763C3.9342 14.1014 3.58301 14.9493 3.58301 15.8333V17.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.2498 9.16667C12.0908 9.16667 13.5832 7.67428 13.5832 5.83333C13.5832 3.99238 12.0908 2.5 10.2498 2.5C8.40889 2.5 6.9165 3.99238 6.9165 5.83333C6.9165 7.67428 8.40889 9.16667 10.2498 9.16667Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% no-repeat;
            }
        }
        &--send {
            &:before {
                background: rgba(255, 255, 255, 0.08) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M3.3335 10V16.6667C3.3335 17.1087 3.50909 17.5326 3.82165 17.8452C4.13421 18.1577 4.55814 18.3333 5.00016 18.3333H15.0002C15.4422 18.3333 15.8661 18.1577 16.1787 17.8452C16.4912 17.5326 16.6668 17.1087 16.6668 16.6667V10' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3332 4.99984L9.99984 1.6665L6.6665 4.99984' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 1.6665V12.4998' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% no-repeat;
            }
        }
    }
    &__bottom {
        background: var(--012A4A, #012A4A);
        padding-top: vw(110);
        padding-bottom: vw(50);
        &--in {
            display: flex;
            justify-content: space-between;
        }
    }
}