<div class="res_block">
    <div class="res_block__in center_block">
        <div class="res_block__top">
            <div class="res_block__flags" v-if="sizes.window >= 1023">
                <div class="res_block__flag isActive">All</div>
                <div class="res_block__flag">News</div>
                <div class="res_block__flag">Insights</div>
                <div class="res_block__flag">Immigration</div>
                <div class="res_block__flag">Interview</div>
            </div>
            <select class="res_block__select" v-if="sizes.window <= 1023">
                <option value="All">All</option>
                <option value="News">News</option>
                <option value="Insights">Insights</option>
                <option value="Immigration">Immigration</option>
                <option value="Interview">Interview</option>
            </select>
            <div class="res_block__search">
                <form action="">
                    <input type="search" placeholder="Search">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
        <div class="res_block__blocks">
            <a href="#" class="res_block__block">
                <div class="res_block__img">
                    <img src="./img/i3.jpg" alt="">
                    <div class="res_block__fls">
                        <div class="res_block__fl">News</div>
                        <div class="res_block__fl">Insights</div>
                    </div>
                </div>
                <div class="res_block__info">
                    <div class="res_block__date">January 18, 2024</div>
                    <div class="res_block__title">California Expanding Health Care for Low-Income Immigrants in 2024</div>
                    <div class="res_block__more">Read More</div>
                </div>
            </a>
            <a href="#" class="res_block__block">
                <div class="res_block__img">
                    <img src="./img/i3.jpg" alt="">
                    <div class="res_block__fls">
                        <div class="res_block__fl">News</div>
                        <div class="res_block__fl">Insights</div>
                    </div>
                </div>
                <div class="res_block__info">
                    <div class="res_block__date">January 18, 2024</div>
                    <div class="res_block__title">California Expanding Health Care for Low-Income Immigrants in 2024</div>
                    <div class="res_block__more">Read More</div>
                </div>
            </a>
            <a href="#" class="res_block__block">
                <div class="res_block__img">
                    <img src="./img/i3.jpg" alt="">
                    <div class="res_block__fls">
                        <div class="res_block__fl">News</div>
                        <div class="res_block__fl">Insights</div>
                    </div>
                </div>
                <div class="res_block__info">
                    <div class="res_block__date">January 18, 2024</div>
                    <div class="res_block__title">California Expanding Health Care for Low-Income Immigrants in 2024</div>
                    <div class="res_block__more">Read More</div>
                </div>
            </a>
            <a href="#" class="res_block__block">
                <div class="res_block__img">
                    <img src="./img/i3.jpg" alt="">
                    <div class="res_block__fls">
                        <div class="res_block__fl">News</div>
                        <div class="res_block__fl">Insights</div>
                    </div>
                </div>
                <div class="res_block__info">
                    <div class="res_block__date">January 18, 2024</div>
                    <div class="res_block__title">California Expanding Health Care for Low-Income Immigrants in 2024</div>
                    <div class="res_block__more">Read More</div>
                </div>
            </a>
            <a href="#" class="res_block__block">
                <div class="res_block__img">
                    <img src="./img/i3.jpg" alt="">
                    <div class="res_block__fls">
                        <div class="res_block__fl">News</div>
                        <div class="res_block__fl">Insights</div>
                    </div>
                </div>
                <div class="res_block__info">
                    <div class="res_block__date">January 18, 2024</div>
                    <div class="res_block__title">California Expanding Health Care for Low-Income Immigrants in 2024</div>
                    <div class="res_block__more">Read More</div>
                </div>
            </a>
            <a href="#" class="res_block__block">
                <div class="res_block__img">
                    <img src="./img/i3.jpg" alt="">
                    <div class="res_block__fls">
                        <div class="res_block__fl">News</div>
                        <div class="res_block__fl">Insights</div>
                    </div>
                </div>
                <div class="res_block__info">
                    <div class="res_block__date">January 18, 2024</div>
                    <div class="res_block__title">California Expanding Health Care for Low-Income Immigrants in 2024</div>
                    <div class="res_block__more">Read More</div>
                </div>
            </a>
        </div>
        <div class="res_block__pages">
            <a href="#" class="res_block__page res_block__page--prev"></a>
            <a href="#" class="res_block__page isActive">1</a>
            <a href="#" class="res_block__page">2</a>
            <a href="#" class="res_block__page">3</a>
            <a href="#" class="res_block__page res_block__page--next"></a>
        </div>
    </div>
</div>