.text_blocks {
    padding-top: vw(90);
    padding-bottom: vw(120);
    &__block {
        &:not(:last-child) {
            margin-bottom: vw(90);
        }
        display: flex;
        &--quote {
            padding-top: vw(30);
            padding-bottom: vw(40);
            border-top: 1px solid var(--212121, #212121);
            border-bottom: 1px solid var(--212121, #212121);
            color: var(--212121, #212121);
            text-align: center;
            font-size: vw(32);
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
        }
    }
    &__l-side {
        width: calc(50% - vw(15));
    }
    &__title {
        color: var(--212121, #212121);
        font-size: vw(32);
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        margin-bottom: vw(30);
    }
    &__img {
        font-size: 0;
        max-width: vw(297);
        width: 100%;
        img {
            width: 100%;
        }
    }
    &__r-side {
        width: calc(50% - vw(15));
    }
}