.main_red {
    padding-top: vw(90);
    padding-bottom: vw(120);
    @media all and (max-width: 1023px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    &__in {
        display: flex;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__title {
        width: calc(50% - vw(15));
        color: var(--212121, #212121);
        font-size: vw(32);
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        @media all and (max-width: 1023px) {
            font-size: 21px;
            margin-bottom: 20px;
            width: 100%;
            line-height: 145%;
        }
    }
    &__info {
        width: calc(50% - vw(15));
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__text {
        margin-bottom: vw(60);
        color: var(--212121, #212121);
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        line-height: 155%;
        @media all and (max-width: 1023px) {
            margin-bottom: 40px;
            font-size: 14px;
        }
    }
    &__post {
        padding-top: vw(30);
        padding-bottom: vw(30);
        border-top: 1px solid var(--212121, #212121);
        border-bottom: 1px solid var(--212121, #212121);
        display: flex;
        color: var(--212121, #212121);
        font-size: vw(24);
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        @media all and (max-width: 1023px) {
            font-size: 17px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        span {
            font-size: vw(16);
            font-weight: 400;
            line-height: 155%;
            flex: 0 0 vw(65);
            margin-right: vw(37);
            @media all and (max-width: 1023px) {
                margin-right: 30px;
                flex: 0 0 65px;
                font-size: 16px;
            }
        }
    }
}