.prof_first {
    position: relative;
    &__bg {
        width: 100%;
        height: 100%;
        font-size: 0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(1, 42, 74, 0.95);
            z-index: 2;
        }
        img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 0;
            object-fit: cover;
        }
    }
    &__in {
        padding-top: vw(190);
        padding-bottom: vw(120);
        min-height: 100vh;
        position: relative;
        z-index: 4;
    }
    &__title {
        margin: 0;
        margin-bottom: vw(120);
        color: var(--FFFFFF, #FFF);
        font-size: vw(59);
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
    }
    &__blocks {
        display: flex;
    }
    &__l-side {
        width: calc(50% - vw(15));
        font-size: 0;
        img {
            flex: 0 0 vw(450);
            object-fit: contain;
        }
    }
    &__r-side {
        width: calc(50% - vw(15));
    }
    &__name {
        color: var(--FFFFFF, #FFF);
        font-size: vw(32);
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        margin-bottom: vw(10);
    }
    &__work {
        color: rgba(255, 255, 255, 0.60);
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        margin-bottom: vw(40);
    }
    &__text {
        color: var(--FFFFFF, #FFF);
        font-size: vw(18);
        font-style: italic;
        font-weight: 400;
        line-height: 165%;
        margin-bottom: vw(40);
    }
    &__link {
        border-radius: vw(999);
        background: var(--FFFFFF, #FFF);
        padding: vw(15) vw(30);
        color: var(--012A4A, #012A4A);
        font-size: vw(16);
        text-decoration: none;
        display: inline-block;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        padding-right: vw(75);
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            width: vw(30);
            height: vw(30);
            margin-top: vw(-15);
            right: vw(15);
            border-radius: 50%;
            background: var(--012A4A, #012A4A) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cg clip-path='url(%23clip0_2031_2954)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.658597C0.0673117 0.357795 0.357991 0.310727 0.588806 0.417762C3.62342 1.82494 6.6614 3.22489 9.6994 4.62477C9.86334 4.70032 9.99831 4.79457 9.99998 4.99237C10.0016 5.19036 9.86934 5.28737 9.70475 5.36322C6.66091 6.76597 3.61794 8.17057 0.574768 9.57476C0.362935 9.6725 0.197866 9.65096 0.081421 9.50364C0.0464683 9.45941 0.0267131 9.40317 2.08333e-07 9.35243C2.08333e-07 9.30684 2.08333e-07 9.26125 2.08333e-07 9.21567C0.0432029 9.14068 0.0791933 9.06028 0.130666 8.99147C1.06185 7.7468 1.99491 6.50358 2.92749 5.25997C2.99341 5.17208 3.05862 5.08364 3.12396 4.99574C3.10059 4.9631 3.08222 4.93645 3.06283 4.91059C2.0969 3.62287 1.13041 2.33559 0.165955 1.04679C0.102763 0.962348 0.0549521 0.866401 0 0.775815C0 0.736742 0 0.697669 0 0.658597Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2031_2954'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 50% no-repeat;
            background-size: vw(10);
        }
    }
}